/* * {
  background-color: teal;
} */

/* In CSS, we can target specific elements! */

h1 {
  color: #0078ff;
}

/* p {
  color: blue;
  font-style: italic;
  font-weight: bold;
} */

/* 
. = target by class 
p = target all p tags  
# = target by id
*/

/* CSS Selectors */
p.enter-movies {
  /* position: absolute; */
  color: #0078ff;
  font-style: italic;
  font-weight: bold;
  /* left: 500px; */
}

.homepage-container {
  background-color: ##00d0a6;
  color: #2f4858;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 10px;
}
